
{% extends 'auctions/layout.html' %}

{% block content %}
    <div class="flex justify-center items-center w-full h-screen bg-gray-900">
        <div class="bg-white p-8 rounded-md shadow-md">
            <h2 class="text-2xl font-bold mb-4 text-center text-gray-800">Password Reset</h2>
            <p class="text-gray-800 mb-4">Your password has been successfully reset.</p>
            <p class="text-gray-800 mb-4">An email with your new password has been sent to your registered email address. Please check your inbox.</p>
            <p class="text-gray-800 mb-4">You can now <a href="{% url 'login' %}" class="text-blue-500 hover:underline">log in</a> using your new password.</p>
        </div>
    </div>
{% endblock %}
