{% extends "auctions/layout.html" %}

{% block body %}
<section class="bg-gray-100 dark:bg-gray-900 min-h-screen flex flex-col justify-center items-center pt-[12vh]">

    {% if message %}
    <div
      class="flex bg-blue-100 rounded-lg p-4 mb-4 text-sm text-blue-700"
      role="alert"
    >
      <svg
        class="w-5 h-5 inline mr-3"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <div>
        <span class="font-medium">{{message}}</span>
      </div>
    </div>
    {% endif %}

    <h2 class="text-gray-200 text-4xl font-bold mb-4">Create Listings</h2>

        <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data" class="bg-gray-300 gap-2 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-[80%]">
            {% csrf_token %}
            {{ form }}
            <div class=" mt-6 flex justify-center items-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-[40%]" id="submit-button">Submit</button>
            </div>
        </form>

</section>
{% endblock %}