{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<section class="dark:bg-gray-900 w-[100vw] min-h-[100vh] pt-[10vh]">
    <div class="container mx-auto py-8">
        <h1 class="text-gray-300 text-2xl font-bold mb-4">Edit Password</h1>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form method="post" >
                {% csrf_token %}
                {% if error %}
                <p class="text-red-500 mb-4">{{ error }}</p>
                {% endif %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="original_password">Current Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="original_password" type="password" placeholder="Current Password" name="original_password" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="new_password">New Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new_password" type="password" placeholder="New Password" name="new_password" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm_password">Confirm Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirm_password" type="password" placeholder="Confirm Password" name="confirm_password" required>
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save Changes</button>
            </form>
            <div class=" flex justify-end" >
                <a href={% url 'forgot_password' %} class =" text-gray-700 text-sm font-bold mb-2 hover:text-blue-500" ><p> Forgot Password ? </p></a>
            <div/>
        </div>
    </div>
</section>
{% endblock %}
