{% extends "auctions/admin/admin_layout.html" %}
{% load static %}
{% block body %}


    <!-- Main Content Area -->
    <div class="flex-1 flex flex-col overflow-hidden">
        <header class="bg-white border-b-2 border-gray-200 py-4">
            <h1 class="text-lg text-center font-semibold"> BidBazaar Administration </h1>
        </header>
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100">
            <div class="container mx-auto px-6 py-8">

                <!-- Grid Layout for Admin Functionality -->

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">

                  <div class=" h-[40vh] flex flex-col justify-center text-center items-center bg-cyan-500 border rounded-lg p-4 shadow-lg">
                      <h2 class="text-2xl font-semibold mb-2">Total Users</h2>
                      <p class="text-4xl">{{ total_users }}</p>
                  </div>
                  
                  <div class="h-[40vh] flex flex-col justify-center text-center items-center bg-lime-500 border rounded-lg p-4 shadow-lg ">
                      <h2 class="text-2xl font-semibold mb-2">Total Listings</h2>
                      <p class="text-4xl">{{ total_listings }}</p>
                  </div>

                  <div class=" h-[40vh] flex flex-col justify-center text-center items-center bg-pink-500 border rounded-lg p-4 shadow-lg">
                    <h2 class="text-2xl font-semibold mb-2">Active Listings</h2>
                    <p class="text-4xl">{{ active_listings }}</p>
                  </div>

                  <div class="h-[40vh] flex flex-col justify-center text-center items-center bg-purple-500 border rounded-lg p-4 shadow-lg ">
                    <h2 class="text-2xl font-semibold mb-2">Inactive Listings</h2>
                    <p class="text-4xl">{{ inactive_listings }}</p>
                  </div>

              </div>

            </div>

        </main>
    </div>
  </div>


{% endblock %}